.bg-padd-container{
    display: flex;
    padding: 5%;
    background-color: #a9e159;
}

.box-color{
    display: flex;
    height: 100px;
    background-color: #a9e159;
}

.main-bg{
    background-color: #a9e159;
}

.pie{
    display: flex;
    padding: 2.5%;
}

nav a:hover{
    text-decoration: underline;
}